@page "/Artistas"
@inject ArtistaAPI artistaAPI

<h3>Artistas</h3>
@if (artistas is not null)
{
    <MudGrid xs="3">
        @foreach (var artista in artistas)
        {
            <MudItem>
                <CardArtista Artista="artista" />
            </MudItem>
        }
    </MudGrid>
}
else
{
    <p>deu ruim. @a</p>
}

@code {
    private ICollection<ArtistaResponse>? artistas;
    public string a { get; set; }
    //quando o componete é inicializado, chama a API para obter os artistas e preencher a coleção
    protected override async Task OnInitializedAsync()
    {
        try
        {
            artistas = await artistaAPI.GetArtistasAsync();
        }
        catch (Exception ex)
        {
            // Log the exception (use a logging framework or simply output to console for now)
            a = $"An error occurred: {ex.Message}";
        }
    }
}
