@page "/Musicas";
@inject MusicaAPI musicaAPI;
<h3>Musicas</h3>
@if(musicas is not null)
{
    foreach (var musica in musicas)
    {
        <p>@musica.Nome</p>
    }
}
else
{
    <p>deu ruim. @a</p>
}

@code {
    private ICollection<MusicaResponse>? musicas;
    public string a { get; set; }
    //quando o componete é inicializado, chama a API para obter os artistas e preencher a coleção
    protected override async Task OnInitializedAsync()
    {
        try
        {
            musicas = await musicaAPI.GetArtistasAsync();
        }
        catch (Exception ex)
        {
            // Log the exception (use a logging framework or simply output to console for now)
            a = $"An error occurred: {ex.Message}";
        }
    }
}
